[Unit]
Description=ReMux Launcher
After=xochitl.service opt.mount

[Service]
ExecStart=/home/root/apps/remux.exe
Restart=on-failure

[Install]
WantedBy=multi-user.target

