---
name: "pr build"
on:
    pull_request

jobs:
  pre-release:
    name: "pre-release"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout source"
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: "Build artifacts"
        run: |
          CROSS_TC=arm-kobo-linux-gnueabihf DOCKERFILE=Dockerfile.kobo FBINK=1 TARGET=kobo make docker
          TARGET=rm make docker

      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts/

